<!-- <div class="example-card">
  <a [routerLink]="[' ./', product.id]" routerLinkActive="">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="white">
        {{ product.name }}
      </mat-card-title>
      <mat-card-subtitle class="pb-2">{{ product.availability }}
      </mat-card-subtitle>
    </mat-card-header>
  </a>
  <img mat-card-image src={{product.img_url}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="description white">
      {{ product.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="decrease()">-1</button>
    <input type="number" [(ngModel)]="quantity">
    <button (click)="increase()">+1</button><br />
    <button mat-button (click)="addToCart()">Aggiungi a carrello</button>
  </mat-card-actions>
</div> -->
<div class="custContainer">
  <div class="card">
    <div [routerLink]="['./', product.id]" routerLinkActive="" class="details">
      <div class="card-header">
        <h3>{{product.name}}</h3>
        <h4>{{product.availability}}</h4>
        <p>{{product.price}}</p>
      </div>
    </div>
    <form (ngSubmit)="addToCart(quantity,product.id)">
      <div class="cartActions">
        <button id='minus' type="button" (click)="decrease()">-</button>
        <input id='quantity' type="number" name="quantity" [(ngModel)]="quantity">
        <button id="plus" type="button" (click)="increase()">+</button>
        <button id="cartAdd" type="submit">Aggiungi al carrello</button>
      </div>
    </form>
  </div>
</div>