.custContainer{
  padding: 2% 2% 2% 2%;
  margin: 2% 2% 2% 2%;
  box-sizing: border-box;
  height: 300px;
  border: #000, solid, 2px;
  border-radius: 6px;
  background-color: #000;
}
.card{
  height: 100%;
}
.details{
  height: 90% ;
  margin: 1%;  
}
#minus{
  width:15%;
}
#quantity{
  width: 70%;
}
#plus{
  width:15%
}
#cartAdd{
  width: 100%;
}